version: '3.8'

services:

  # Calendar Google Sync API (FastAPI)
  calendar_api:
    build:
      context: ./calendar_api
      dockerfile: Dockerfile
    ports:
      - "5005:5005"
    volumes:
      - ./calendar_api:/app
    env_file:
      - .env
    networks:
      - app_network

  # Dashboard UI (Next.js App)
  dashboard:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
